<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block Jumper Game</title>
    <!--Llamado a Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--LLamado al archivo css de manera estatica-->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-md">
            <!--Etiqueta de enlace-->
            <a class="navbar-brand">Sonic the Hedgehog</a>
        </div>
        <br>
    </nav>

    <br>
    <center>
        <h2>¿Cómo Funciona?</h2>
    </center>

    <div class="container">
        <div>
            Sonic Run es el minijuego creado y programado desde html,css y javascript mediante metodos que permitiran al
            personaje correr en un escenario, en el cual el objeto del suelo se transmitira en un bucle infinito que
            dara la sensacion de que nuetro personaje esta corriendo.
            Tradicionalmente, Sonic Run ha sido un juego muy sencillo en el que el objetivo es saltar obstáculos
            -cactus, principalmente- de forma precisa y con dificultad en aumento.
        </div>
    </div>


</body>

</html>

<!--LLamado al archivo javasrcipt de manera estatica-->
<script src="/static/js/script.js"></script>

<!--Llamado a Bootstrap JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>